.UpdateUser {
	display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.UpdateUserForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid black;
  width: fit-content;
  padding: 15px;

}

.UpdateUserForm button {
  margin: 10px;
}